<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Blocklens Regression" verbose="1" configfailurepolicy="continue" parallel="classes">
    <test name="Blocklens Test">
        <classes>
            <class name="tests.dashboard.DashboardListMyWorkTest"/>
        </classes>
    </test>
</suite>